# PostgreSQL
POSTGRES_DB=plc_data
POSTGRES_USER=
POSTGRES_PASSWORD=

# InfluxDB
INFLUXDB_USERNAME=
INFLUXDB_PASSWORD=
INFLUXDB_ORG=plc_org
INFLUXDB_BUCKET=plc_bucket
INFLUXDB_ADMIN_TOKEN=

# Grafana
GRAFANA_ADMIN_USER=
GRAFANA_ADMIN_PASSWORD=
